.about {
  padding: 38px $mobile-indent 55px;

  background-image: url("../img/bg-lines-mobile@1x.png");
  background-repeat: repeat-y;
  background-position: center center;
  background-size: contain;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-lines-mobile@2x.png");
  }
}

.about__title {
  margin-bottom: 20px;
}

.about__subtitle {
  margin-bottom: 30px;
}

.about__text {
  margin-bottom: 23px;

  &:last-of-type {
    margin-bottom: 35px;
  }
}

@media (min-width: $tablet-width) {
  .about {
    position: relative;

    padding: 50px $tablet-indent 145px;

    background-image: url("../img/bg-lines-tablet@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-lines-tablet@2x.png");
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -60px;
      left: 50%;

      width: 11px;
      height: 130px;

      background-image: url("../img/shape-lines.png");
      transform: translateX(-50%);
    }
  }

  .about__title {
    margin-bottom: 43px;
  }

  .about__subtitle {
    margin-bottom: 25px;
  }

  .about__text {
    &:last-of-type {
      margin-bottom: 50px;
    }
  }
}

@media (min-width: $desktop-width) {
  .about {
    display: flex;
    justify-content: space-between;
    width: $desktop-width;
    margin: 0 auto;
    padding: 105px $desktop-indent 105px;

    background-image: url("../img/bg-lines-desktop@1x.png");
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-lines-desktop@2x.png");
    }
  }

  .about__wrapper {
    order: 2;
    width: 520px;
  }

  .about__title {
    margin-bottom: 65px;
  }

  .about__subtitle {
    width: 360px;
    margin-bottom: 45px;
  }
}
