.banners__subtitle {
  margin-bottom: 39px;
}

.banners__list {
  @include reset-list;

  margin-bottom: 35px;
}

.banners__item {
  line-height: 24px;

  &::before {
    content: ".";
    position: relative;
    top: -5px;

    padding-right: 5px;
  }
}

.banners__wrapper {
  margin: 0 0 25px;
}

.banners__img-wrapper {
  margin: 0 0 25px;
}

.banners__img {
  display: block;
  width: 291px;
  height: 196px;
  margin-bottom: 12px;
}

.banners__caption {
  font-size: 13px;
  line-height: 24px;
}

.banners__btn-wrapper {
  margin-bottom: 42px;
}

@media (min-width: $tablet-width) {
  .banners__subtitle {
    width: 595px;
    margin-bottom: 50px;
  }

  .banners__list {
    margin-bottom: 45px;
  }

  .banners__wrapper {
    position: relative;

    margin-bottom: 47px;
  }

  .banners__img-wrapper {
    margin: 0;
  }

  .banners__img {
    width: 720px;
    height: auto;
    margin-bottom: 35px;
  }

  .banners__caption {
    text-align: right;
  }

  .banners__btn-wrapper {
    bottom: -40px;
  }
}

@media (min-width: $desktop-width) {
  .banners__container {
    display: flex;
    flex-direction: column;
    width: $desktop-width;
    margin: 0 auto;
    padding: 0 $desktop-indent;
  }

  .banners__subtitle {
    order: 2;
    float: left;
    width: 473px;
    margin-bottom: 43px;
  }

  .banners__list {
    order: 3;
    float: left;
    width: 473px;
    margin-bottom: 73px;
  }

  .banners__wrapper {
    order: 5;
    margin-top: -480px;
    margin-left: auto;
  }


  .banners__img {
    width: 570px;
    margin-bottom: 35px;
  }

  .banners__order {
    order: 4;
    float: left;
  }

  .banners__caption {
    margin-left: 280px;

    text-align: left;
  }
}
