.banners__subtitle {
  margin-bottom: 39px;
}

.banners__img-wrapper {
  margin: 0 0 25px;
}

.banners__img {
  display: block;
  margin-bottom: 12px;
}

.banners__caption {
  font-size: 13px;
  line-height: 24px;
}

.banners__btn-wrapper {
  margin-bottom: 42px;
}
