.faq {
  padding: 0 $mobile-indent 80px;

  background-image: url("../img/bg-lines-mobile@1x.png");
  background-repeat: repeat-y;
  background-position: center;
  background-size: contain;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-lines-mobile@2x.png");
  }
}

.faq__title {
  margin-bottom: 30px;
}

.faq__list {
  @include reset-list;

  margin-bottom: 55px;
}

.faq__item {
  margin-bottom: 31px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.faq__subtitle {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 20px;
  font-family: $opensans;
}

@media (min-width: $tablet-width) {
  .faq {
    position: relative;

    padding: 0 $tablet-indent 100px;

    background-image: url("../img/bg-lines-tablet@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-lines-tablet@2x.png");
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -60px;
      left: 50%;
      z-index: 2;

      width: 11px;
      height: 130px;

      background-image: url("../img/shape-lines.png");
      transform: translateX(-50%);
    }
  }

  .faq__title {
    margin-bottom: 42px;
  }

  .faq__list {
    margin-bottom: 54px;
  }

  .faq__item {
    margin-bottom: 29px;
  }

  .faq__subtitle {
    margin-bottom: 14px;
  }
}

@media (min-width: $desktop-width) {
  .faq {
    width: $desktop-width;
    margin: 0 auto;
    padding: 0 $desktop-indent 170px;

    background-image: url("../img/bg-lines-desktop@1x.png");
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-lines-desktop@2x.png");
    }
  }

  .faq__title {
    margin-bottom: 50px;
  }

  .faq__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .faq__item {
    width: 555px;
    margin-bottom: 38px;

    &--what-is-layout {
      order: 1;
    }

    &--layout-done {
      order: 3;
    }

    &--no-layout {
      order: 5;
    }

    &--time-layout {
      order: 2;
    }

    &--office {
      order: 4;
    }

    &--courier {
      order: 6;
    }
  }
}
