.faq {
  padding: 0 $mobile-indent 80px;

  background-image: url("../img/bg-lines-mobile@1x.png");
  background-repeat: repeat-y;
  background-position: center center;
  background-size: contain;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-lines-mobile@2x.png");
  }
}

.faq__title {
  margin-bottom: 30px;
}

.faq__list {
  @include reset-list;

  margin-bottom: 55px;
}

.faq__item {
  margin-bottom: 30px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.faq__subtitle {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 20px;
  font-family: $opensans;
}

@media (min-width: $tablet-width) {
  .faq {
    position: relative;

    padding: 0 $tablet-indent 100px;

    background-image: url("../img/bg-lines-tablet@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-lines-tablet@2x.png");
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -60px;
      left: 50%;
      z-index: 2;

      width: 11px;
      height: 130px;

      background-image: url("../img/shape-lines.png");
      transform: translateX(-50%);
    }
  }

  .faq__title {
    margin-bottom: 40px;
  }

  .faq__list {
    margin-bottom: 50px;
  }

  .faq__item {
    margin-bottom: 28px;
  }

  .faq__subtitle {
    margin-bottom: 14px;
  }
}
