.form__label {
  display: block;
  margin-bottom: 28px;

  &:last-of-type {
    margin-bottom: 33px;
  }

  &--faq {
    &:last-of-type {
      margin-bottom: 40px;
    }
  }
}

.form__send {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .form {
    &--faq {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  }

  .form__send--faq {
    width: 190px;
  }
}

@media (min-width: $desktop-width) {
  .form {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    &--modal {
      display: block;
    }
  }

  .form__send {
    width: 190px;

    &--modal {
      width: 100%;
    }
  }
}
