.input-data__field {
  width: 100%;
  padding-right: $mobile-indent;
  padding-bottom: 7px;
  padding-left: $mobile-indent;

  font: inherit;
  font-style: italic;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid $dark-gray;

  &--faq {
    color: $white;

    &::placeholder {
      color: $white;
    }
  }

  &:hover,
  &:focus {
    border-bottom-color: $pink;
    outline: none;
  }
}

@media (min-width: $tablet-width) {
  .input-data__field {
    &--faq {
      width: 180px;
    }
  }
}
