.interior {
  margin-bottom: 0;

  background-color: $white;
  background-repeat: no-repeat, repeat-y;
  background-position: right 85%, center;
  background-size: 281px, contain;

  &.lazy-bg-loaded {
    background-image: url("../img/photo-sofa-mobile@1x.png"), url("../img/bg-lines-mobile@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/photo-sofa-mobile@2x.png"), url("../img/bg-lines-mobile@2x.png");
    }
  }
}

.interior__container {
  padding: 70px $mobile-indent 252px;
}

.interior__subtitle {
  margin-bottom: 34px;
}

.interior__text {
  margin-bottom: 43px;
}

@media (min-width: $tablet-width) {
  .interior {
    position: relative;

    background-position: right 66%, center;
    background-size: 536px, contain;

    &.lazy-bg-loaded {
      background-image: url("../img/photo-sofa-tablet@1x.png"), url("../img/bg-lines-tablet@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/photo-sofa-tablet@2x.png"), url("../img/bg-lines-tablet@2x.png");
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -60px;
      left: 50%;

      width: 11px;
      height: 130px;

      transform: translateX(-50%);
    }

    &.lazy-bg-loaded::after {
      background-image: url("../img/shape-lines.png");
    }
  }

  .interior__container {
    padding: 73px $tablet-indent 400px;
  }

  .interior__subtitle {
    width: 450px;
    margin-bottom: 56px;
  }

  .interior__text {
    width: 548px;
    margin-bottom: 46px;
  }

  .interior__link {
    width: 238px;
  }
}

@media (min-width: $desktop-width) {
  .interior {
    background-position: -250px center, center;
    background-size: 1276px, contain;

    &.lazy-bg-loaded {
      background-image: url("../img/photo-sofa-desktop@1x.png"), url("../img/bg-lines-desktop@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/photo-sofa-desktop@2x.png"), url("../img/bg-lines-desktop@2x.png");
      }
    }
  }

  .interior__container {
    width: $desktop-width;
    margin: 0 auto;
    padding: 128px $desktop-indent 570px;
  }

  .interior__wrapper {
    display: flex;
    flex-direction: column;
    width: 555px;
    margin-left: auto;
  }

  .interior__subtitle {
    margin-bottom: 46px;
  }

  .interior__text {
    margin-bottom: 56px;
  }
}
