.page-header {
  background-color: $purple;
  background-repeat: repeat-y;
  background-position: center top;
  background-size: cover;

  &.lazy-bg-loaded {
    background-image: url("../img/bg-header-mobile@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-header-mobile@2x.jpg");
    }
  }
}

.page-header__wrapper {
  padding: 23px $mobile-indent 67px;

  background-repeat: no-repeat;
  background-position: 0 47px;
  background-size: 311px 321px;

  &.lazy-bg-loaded {
    background-image: url("../img/print-mobile@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/print-mobile@2x.png");
    }
  }
}

.page-header__logo {
  display: block;
  width: 107px;
  height: 13px;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__logo-image {
  display: block;
}

@media (min-width: $tablet-width) {
  .page-header.lazy-bg-loaded {
    background-image: url("../img/bg-header-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-header-tablet@2x.jpg");
    }
  }

  .page-header__wrapper {
    padding: 27px $tablet-indent 94px;

    background-position: left 57px;
    background-size: 456px 519px;

    &.lazy-bg-loaded {
      background-image: url("../img/print-tablet@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/print-tablet@2x.png");
      }
    }
  }

  .page-header__logo {
    margin-bottom: 55px;
  }
}

@media (max-width: $tablet-and-mobile-width) {
  .page-header--nojs .site-list {
    display: block;
  }

  .page-header--nojs .main-nav__toggle {
    display: none;
  }

  .page-header--menu-opened .site-list {
    top: -36px;

    display: block;

    transition: top 0.6s ease-out;
  }

  .page-header--menu-opened .main-nav__toggle {
    top: -22px;
    right: 0;

    width: 16px;
    height: 16px;

    transition: right 0.5s;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 48%;
      left: -4px;

      width: 25px;
      height: 1px;

      background-color: $dark-gray;
    }

    &::before {
      box-shadow: none;
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:hover::before,
    &:hover::after,
    &:focus::before,
    &:focus::after {
      background-color: $pink;
      outline: none;
      box-shadow: none;
    }

    &:active::before,
    &:active::after {
      background-color: $black;
      outline: none;
      box-shadow: none;
    }
  }

  @media (min-width: $tablet-width) {
    .page-header--menu-opened .main-nav__toggle {
      top: -68px;
    }

    .page-header--menu-opened .site-list {
      top: -95px;
      right: -$tablet-indent;

      display: block;

      transition: right 0.5s;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    background-color: $purple;
    background-repeat: repeat-y;

    &.lazy-bg-loaded {
      background-image: url("../img/bg-header-desktop@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg-header-desktop@2x.jpg");
      }
    }
  }

  .page-header__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: $desktop-width;
    margin: 0 auto;
    padding: 62px $desktop-indent 190px;

    background-position: -95px center;
    background-size: 655px 630px;

    &.lazy-bg-loaded {
      background-image: url("../img/print-desktop@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/print-desktop@2x.png");
      }
    }
  }

  .page-header__logo {
    margin-top: 10px; //ie9 fix
    margin-bottom: 0;
  }
}
