.polygraphy {
  margin-bottom: 0;
  padding-top: 70px;
  padding-bottom: 0;

  background-color: $bg-second;
}

.polygraphy__subtitle {
  margin-bottom: 40px;
}

.polygraphy__text {
  margin-bottom: 25px;
}

.polygraphy__img {
  display: block;
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .polygraphy {
    display: flex;
    flex-wrap: wrap;
    padding-top: 105px;
    padding-bottom: 120px;
  }

  .polygraphy__subtitle {
    width: 438px;
  }

  .polygraphy__text {
    width: 642px;

    &:last-of-type {
      margin-bottom: 66px;
    }
  }

  .polygraphy__picture {
    position: absolute;
    right: 0;
    bottom: 60px;

    order: 3;
    width: 353px;
  }

  .polygraphy__img {
    margin-bottom: 0;
  }
}
