.process-list {
  @include reset-list;

  display: flex;
  flex-direction: column;

  background-image: url("../img/bg-arrows-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 100px 80px;
  background-size: 154px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-arrows-mobile@2x.png");
  }
}

.process-list__item {
  width: 130px;

  background-repeat: no-repeat;
  background-position: center top;
  background-size: 106px;

  &--book {
    align-self: center;
    margin-bottom: 45px;

    background-image: url("../img/ebook-mobile@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/ebook-mobile@2x.png");
    }
  }

  &--tablet {
    align-self: flex-end;
    margin-right: -10px;
    margin-bottom: -77px;

    background-image: url("../img/tablet-mobile@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/tablet-mobile@2x.png");
    }
  }

  &--tape {
    align-self: flex-start;
    margin-bottom: 50px;

    background-image: url("../img/writer-mobile@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/writer-mobile@2x.png");
    }
  }

  &--car {
    align-self: center;

    background-image: url("../img/car-mobile@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/car-mobile@2x.png");
    }
  }
}

.process-list__text {
  margin: 0;
  padding-top: 117px;

  font-size: 13px;
  line-height: 18px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .process-list {
    background-image: url("../img/bg-arrows-tablet@1x.png");
    background-position: 112px 56px;
    background-size: 484px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-arrows-tablet@2x.png");
    }
  }

  .process-list__item {
    width: 170px;

    &--book {
      align-self: flex-start;
      margin-bottom: -56px;
      margin-left: 160px;
    }

    &--tablet {
      margin-right: 0;
      margin-bottom: -70px;
    }

    &--tape {
      margin-bottom: -52px;
      margin-left: -10px;
    }

    &--car {
      align-self: flex-end;
      margin-right: 188px;
    }
  }
}

@media (min-width: $desktop-width) {
  .process-list {
    width: 580px;
    margin-top: 9px;

    background-image: url("../img/bg-arrows-desktop@1x.png");
    background-position: 108px 67px;
    background-size: 316px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-arrows-desktop@2x.png");
    }
  }

  .process-list__item {
    &--book {
      align-self: flex-start;
      margin-bottom: -13px;
      margin-left: 159px;
    }

    &--tablet {
      margin-right: 41px;
      margin-bottom: -113px;
    }

    &--tape {
      margin-bottom: -21px;
    }
    &--car {
      align-self: flex-end;
      margin-right: 210px;
    }
  }
}
