.promo {
  position: relative;
  z-index: 1;

  padding: 349px 0 0;

  font-family: $muller;
  color: $white;
}

.promo__slogan {
  display: block;
  margin-bottom: 25px;

  font-weight: 800;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.promo__title {
  margin: 0 0 43px;

  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
}

.promo__link {
  margin-bottom: 25px;
}

.promo__text {
  display: block;
  margin: 0;

  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  font-family: $opensans;
}

@media (min-width: $tablet-width) {
  .promo {
    position: relative;

    display: flex;
    flex-direction: column;
    width: 282px;
    margin-left: auto;
    padding: 57px 0 0;
  }

  .promo__slogan {
    margin-bottom: 30px;

    font-size: 45px;
    line-height: 53px;
  }

  .promo__title {
    margin-bottom: 35px;
  }

  .promo__link {
    width: 250px;
    margin-bottom: 27px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 480px;
    margin-right: 35px;
    padding: 0;
  }

  .promo__slogan {
    margin-bottom: 32px;

    font-size: 60px;
    line-height: 77px;
  }

  .promo__title {
    margin-bottom: 78px;

    font-size: 32px;
    line-height: 38px;
  }

  .promo__link {
    margin-right: 20px;
  }
  .promo__text {
    width: 210px;
  }
}
