.request {
  margin-bottom: 0;

  &--faq {
    padding: 37px 22px 70px;

    color: $white;

    background-color: $purple;
    background-image: url("../img/shape-question-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 96px;
    border-radius: 10px;
    box-shadow: 0 23px 32px rgba(81, 8, 86, 0.33);

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/shape-question-mobile@2x.png");
    }
  }
}

.request__question {
  display: block;

  font-size: 16px;
  line-height: 30px;
}

.request__text {
  margin: 0 0 27px;

  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

@media (min-width: $tablet-width) {
  .request {
    position: relative;
    z-index: 2;

    width: 240px;

    &::after {
      content: "";
      position: absolute;
      right: -120px;
      bottom: -5px;
      z-index: -1;

      width: 389px;
      height: 287px;

      background-image: url("../img/picture-letter@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/picture-letter@2x.png");
      }
    }

    &--faq {
      width: 100%;
      padding: 37px 33px 25px;

      background-image: url("../img/shape-question-tablet@1x.png");
      background-position: 105% -60px;
      background-size: 241px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/shape-question-tablet@2x.png");
      }

      &::after {
        content: none;
      }
    }
  }

  .request__text {
    &--faq {
      margin-bottom: 25px;
    }
  }
}

@media (min-width: $desktop-width) {
  .request {
    width: 765px;

    &::after {
      right: -510px;
      bottom: -5px;

      width: 503px;
      height: 340px;

      background-image: url("../img/picture-letter-desktop@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/picture-letter-desktop@2x.png");
      }
    }

    &--faq {
      width: 100%;
      padding: 37px 67px 25px 310px;

      background-position: 30px center;
      background-size: 241px;
    }
  }

  .request__text {
    margin-bottom: 25px;
  }
}
