.reviews {
  padding: 35px $mobile-indent 57px;

  background-image: url("../img/bg-lines-mobile@1x.png");
  background-repeat: repeat-y;
  background-position: center center;
  background-size: contain;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-lines-mobile@2x.png");
  }
}

.reviews__item {
  margin: 0 0 45px;
  padding: 60px 22px 45px;

  background-color: $white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(81, 8, 86, 0.1);
}

.reviews__img {
  display: block;
  width: 136px;
  margin: 0 auto 43px;
}

.reviews__text {
  margin: 0 0 30px;
}

.reviews__author {
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  color: $gray;
  font-style: normal;
}
