.reviews {
  padding: 33px $mobile-indent 57px;

  background-image: url("../img/bg-lines-mobile@1x.png");
  background-repeat: repeat-y;
  background-position: center;
  background-size: contain;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-lines-mobile@2x.png");
  }
}

.reviews__title {
  display: none;
}

.reviews__item {
  margin: 0 0 45px;
  padding: 60px 20px 45px;

  background-color: $white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(81, 8, 86, 0.1);
}

.reviews__img {
  display: block;
  width: 136px;
  margin: 0 auto 42px;
}

.reviews__text {
  margin: 0 0 32px;
}

.reviews__author {
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  color: $gray;
  font-style: normal;
}

.reviews__author-link {
  letter-spacing: 0.03em;
}

@media (min-width: $tablet-width) {
  .reviews {
    padding: 73px $tablet-indent 78px;

    background-image: url("../img/bg-lines-tablet@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-lines-tablet@2x.png");
    }
  }

  .reviews__title {
    display: block;
    margin-bottom: 55px;
  }

  .reviews__item {
    margin-bottom: 42px;
    padding: 56px 63px 51px;
  }

  .reviews__img {
    float: left;
    margin-right: 51px;
  }

  .reviews__text {
    margin-bottom: 7px;
  }

  .reviews__author-link {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    width: $desktop-width;
    margin: 0 auto;
    padding: 131px $desktop-indent 125px;

    background-image: url("../img/bg-lines-desktop@1x.png");
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-lines-desktop@2x.png");
    }
  }

  .reviews__title {
    margin-bottom: 75px;
  }

  .reviews__item {
    width: 844px;
    margin: 0 auto 40px;
    padding: 55px 66px 55px;
  }

  .reviews__text {
    margin-bottom: 5px;
  }

  .reviews__btn-wrapper {
    position: static;

    margin-left: 150px;
  }
}
