.services {
  padding: 65px 0;

  background-color: $bg-second;
}

.services__title {
  margin-bottom: 38px;
  padding: 0 $mobile-indent;
}

.services__list {
  @include reset-list;
}

.services__item {
  margin-bottom: 74px;
  padding: 0 $mobile-indent;
}

@media (min-width: $tablet-width) {
  .services {
    padding: 77px 0 0;
  }

  .services__title {
    margin-bottom: 60px;
    padding: 0 $tablet-indent;
  }

  .services__list {
    position: relative;
  }

  .services__item {
    margin-bottom: 65px;
    padding: 0 $tablet-indent;
  }
}
