.services {
  padding: 65px 0;

  background-color: $bg-second;
}

.services__title {
  margin-bottom: 40px;
  padding: 0 $mobile-indent;
}

.services__list {
  @include reset-list;
}

.services__item {
  margin-bottom: 74px;
}

@media (min-width: $tablet-width) {
  .services {
    padding: 77px 0 0;
  }

  .services__title {
    margin-bottom: 60px;
    padding: 0 $tablet-indent;
  }

  .services__list {
    position: relative;
  }

  .services__item {
    margin-bottom: 65px;
  }
}

@media (min-width: $desktop-width) {
  .services {
    padding-top: 98px;
  }

  .services__wrapper {
    width: $desktop-width;
    margin: 0 auto;
  }

  .services__title {
    width: $desktop-width;
    margin: 0 auto 78px;
    padding: 0 $desktop-indent;
  }

  .services__item {
    margin-bottom: 77px;
  }
}
