.site-list {
  @include reset-list;

  position: absolute;
  top: -36px;
  left: -$mobile-indent;
  z-index: 2;

  display: none;
  width: $mobile-width;

  background-color: $white;
}

.site-list__link {
  display: flex;
  justify-content: center;
  padding: 10px 0;

  font-weight: 600;
  font-size: 13px;
  color: $main-text;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  &--phone {
    display: none;
  }

  &--call-request {
    display: none;
  }

  &:hover,
  &:focus {
    color: $pink;
  }

  &:active {
    color: $pink-active;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    top: -40px;
    right: -$tablet-indent;
    left: auto;

    width: 300px;
    min-height: 602px;
    padding: 40px 65px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 300px;
      bottom: 0;
      z-index: -1;

      display: block;
      width: $tablet-width - 300px;

      background-color: rgba($black, 0.4);
    }
  }

  .site-list__item:nth-last-child(3) {
    margin-bottom: 65px;
  }

  .site-list__link {
    justify-content: flex-start;

    line-height: 28px;

    &--phone {
      display: block;
      margin-bottom: 18px;

      font-weight: 700;
      font-size: 16px;
    }

    &--call-request {
      display: block;
      width: 165px;
      padding: 0;

      font-weight: 800;
      font-size: 11px;
      line-height: 28px;
      text-align: center;
      color: $pink;

      border: 2px solid $pink;
      border-radius: 24px;

      &:hover,
      &:focus {
        color: $white;

        background-color: $pink;
      }

      &:active {
        background-color: $pink-active;
      }
    }
  }
}
