.site-list {
  @include reset-list;

  display: none;
}

.site-list__item {
  font-size: 16px;
}

.site-list__link {
  display: flex;
  justify-content: flex-start;
  margin-top: -1px;
  padding: 10px $mobile-indent 10px 90px;

  font-weight: bold;
  color: $white;
  text-transform: uppercase;

  border-top: 1px solid rgba($gray, 0.1);
  border-top-color: $white;
  border-bottom: 1px solid $white;

  &:hover,
  &:focus {
    color: rgba($white, 0.6);

    background-color: rgba($gray, 0.4);
  }

  &:active {
    color: rgba($white, 0.3);

    background-color: rgba($gray, 0.8);
  }
}
