*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

body {
  width: $mobile-width;
  margin: 0 auto;

  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  font-family: $opensans;
  color: $main-text;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }
}
